<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Sex Trafficking Tracker</a>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main" ng-controller="HeaderController">
    <ul class="nav navbar-nav">
      <li ng-class="{ active: isActive('/crimes') }"><a href="#/crimes">CRAP</a></li>
      <li ng-class="{ active: isActive('/policebeats') }"><a href="#/policebeats">CRAP</a></li>
      <li ng-class="{ active: isActive('/ages') }"><a href='#/ages'>Ages</a></li>
      <li ng-class="{ active: isActive('/salaries') }"><a href='#/salaries'>CRAP</a></li>
    </ul>
  </div>
</div>
