<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">OPD Crime Data</a>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main" ng-controller="HeaderController">
    <ul class="nav navbar-nav">
      <li ng-class="{ active: isActive('/crimes') }"><a href="#/crimes">Crimes</a></li>
      <li ng-class="{ active: isActive('/policebeats') }"><a href="#/policebeats">Police beats</a></li>
      <li ng-class="{ active: isActive('/awards') }"><a href='#/awards'>Police Awards</a></li>
      <li ng-class="{ active: isActive('/salaries') }"><a href='#/salaries'>Salaries</a></li>
    </ul>
  </div>
</div>
